<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'addexam' %}" method="post">
        {%csrf_token%}
        <label for="id">Exam id: </label>
        <input type="number" id="id" name="exam_id" >

        <label for="s">Semester: </label>
        <input type="number" id="s" name="sem">

        <label for="y">Year: </label>
        <input type="number" id="y" name="year">

        <label for="m">Month: </label>
        <input type="text" id="m" name="month">

        <label for="g">Graduation level: </label>
        <input type="text" id="g" name="grad_level">

        <input type="submit">
    </form>
</body>
</html>